.cards-wrapper {
  display: flex;
  flex-wrap: wrap;      
  gap: 30px;             
  padding: 20px 20px;
  justify-content: center; 
  background-color: #ffffff;
  direction: rtl;
}


.grid-item {
  flex: 0 0 calc((100% - 60px) / 3); 
  max-width: calc((100% - 60px) / 3);
  box-sizing: border-box;
}

/* شاشات التابلت: كارتين بس */
@media (max-width: 1000px) {
  .grid-item {
    flex: 0 0 calc((100% - 30px) / 2);
    max-width: calc((100% - 30px) / 2);
  }
}

/* الموبايل: كارت واحد */
@media (max-width: 600px) {
  .grid-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}