.footer {
  background: #f7f9f9;
  padding: 40px 0;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px; 
}

/* اليسار */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.donate-btn {
  background: #a7c77a;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.contact-box {
  color: #000;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons span {
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
}

/* الوسط */
.footer-center {
  text-align: center;
}

.footer-logo {
  width: 130px;
}

.vision-logo {
  width: 200px;
  margin-top: 10px;
}

/* اليمين */
.footer-right {
  text-align: right;
}

.footer-right h3 {
  margin-bottom: 10px;
  color: #5fb5be;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}
