.products{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 30px;
}

@media (max-width: 1024px) {
    .products{
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .products{
        column-gap: 16px;
        row-gap: 20px;
    }
}

@media (max-width: 1200px) {
    .products{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .products{
        grid-template-columns: 1fr;
    }
}

